/*
    This sheet does not need to be edited unless you want to.
*/

body {
	background-color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #222;
	height: 100vh;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-color: #222;
	height: 140px;
	padding: 20px 120px;
	box-sizing: border-box;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 120px;
	box-sizing: border-box;
}

section {
	margin: 0 0 30px;
}

h1 {
	font-family: 'Walter Turncoat', cursive;
	font-size: 2.5rem;
}

h2 {
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h3 {
	font-family: 'Walter Turncoat', cursive;
	font-size: 2rem;
	text-align: center;
	margin: 0px;
}

p {
	margin: 0.5rem 0px;
}

button {
	height: 2.3rem;
	width: 120px;
	padding: 3px;
	color: white;
	font-family: 'Walter Turncoat', cursive;
	font-size: 1.4rem;
	text-transform: uppercase;
	background-color: #222;
	border: none;
	border-radius: 5px;
	margin: 10px;
	transition: opacity 0.2s;
}

button:hover {
	cursor: pointer;
	opacity: 0.8;
}

button:focus {
	outline: none;
}

#page-title,
#tagline {
	color: white;
	text-align: center;
}

#page-title {
	margin: 0 0 10px;
}

#tagline {
	margin: 0;
}

#box {
	display: flex;
	border: 2px solid #222;
	height: 100px;
	width: 360px;
	justify-content: center;
	align-items: center;
}

#red {
	background-color: #a7240d;
}

#yellow {
	background-color: #ddac0a;
}

#blue {
	background-color: #0d64b6;
}

.container {
	display: flex;
	/* flex-direction is row by default */
}

.container.centered {
	justify-content: center;
}
